name: Check dist/

on:
  push:
    branches:
      - main
      - v*
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
  workflow_dispatch:

jobs:
  check-dist:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        env:
          IS_DEPENDABOT:
            ${{ github.event_name == 'pull_request' &&
            startsWith(github.head_ref,'dependabot/') &&
            github.event.pull_request.head.repo.full_name == github.repository
            }}
        with:
          ref: ${{ env.IS_DEPENDABOT == 'true' && github.head_ref || '' }}

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm

      - name: Install Dependencies
        id: install
        run: npm ci

      - name: Build dist
        id: build
        run: npm run bundle

      - name: Check dist directory differences
        id: diff
        run: |
          echo "count=$(git diff --ignore-space-at-eol --text dist/ | wc -l | xargs echo -n)" >> $GITHUB_OUTPUT

      - name: Update dist for dependabot
        id: dependabot-dist-update
        if:
          steps.diff.outputs.count != '0' && github.event_name == 'pull_request'
          && startsWith(github.head_ref,'dependabot/') &&
          github.event.pull_request.head.repo.full_name == github.repository
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git remote set-url origin "https://${GITHUB_ACTOR}:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git"
          git add .
          git commit -m "update dist files"
          git push origin "${GITHUB_HEAD_REF}"

      - name: Compare Expected and Actual Directories
        id: diff-check
        if:
          steps.diff.outputs.count != '0' &&
          steps.dependabot-dist-update.conclusion == 'skiped'
        run: |
          echo "Detected uncommitted changes after build. See status below:"
          git diff --ignore-space-at-eol --text dist/
          exit 1
