name: Lint and test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test-typescript:
    name: TypeScript Tests
    runs-on: ubuntu-latest
    services:
      localstack:
        image: localstack/localstack
        ports: ['4566:4566']
        options: >-
          --health-cmd "awslocal s3 ls" --health-interval 1s --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm

      - name: Install Dependencies
        id: npm-ci
        run: npm ci

      - name: Check Format
        id: npm-format-check
        run: npm run format:check

      - name: Lint
        id: npm-lint
        run: npm run lint

      - name: Test
        id: npm-ci-test
        run: npm run ci-test
        env:
          NODE_OPTIONS: --experimental-vm-modules
          NODE_NO_WARNINGS: 1
